version: "3.2"

services:
  user:
    build:
      context: ./user
      dockerfile: Dockerfile
    hostname: ${USER_HOST}
    ports:
      - ${USER_PORT}:${USER_PORT}
    env_file:
      - ./user/.env
    networks:
      - backend
    volumes:
      - ./user:/var/www/user
      - /var/www/user/node_modules
    command:
      [
        "wait-for-it",
        "database:5432",
        "rabbitmq:5672",
        "--timeout=20",
        "--",
        "npm",
        "start"
      ]
    depends_on:
      - database
      - rabbitmq
    links:
      - database
      - rabbitmq
  # post:
  #   build:
  #     context: ./post
  #     dockerfile: Dockerfile
  #   hostname: ${POST_HOST}
  #   ports:
  #     - ${POST_PORT}:${POST_PORT}
  #   env_file:
  #     - ./post/.env
  #   networks:
  #     - backend
  #   volumes:
  #     - ./post:/var/www/post
  #     - /var/www/post/node_modules
  #   depends_on:
  #     - database
  #     - rabbitmq
  #   command:
  #     [
  #       "wait-for-it",
  #       "database:5432",
  #       "rabbitmq:5672",
  #       "--timeout=20",
  #       "--",
  #       "npm",
  #       "start"
  #     ]
  #   links:
  #     - database
  #     - rabbitmq
  # notification:
  #   build:
  #     context: ./notification
  #     dockerfile: Dockerfile
  #   hostname: ${NOTIFICATION_HOST}
  #   ports:
  #     - ${NOTIFICATION_PORT}:${NOTIFICATION_PORT}
  #   env_file:
  #     - ./notification/.env
  #   networks:
  #     - backend
  #   volumes:
  #     - ./notification:/var/www/notification
  #     - /var/www/notification/node_modules
  #   depends_on:
  #     - mongodb
  #     - rabbitmq
  #   command:
  #     [
  #       "wait-for-it",
  #       "mongodb:27017",
  #       "rabbitmq:5672",
  #       "--timeout=20",
  #       "--",
  #       "npm",
  #       "start"
  #     ]
  #   links:
  #     - mongodb
  #     - rabbitmq
  # files:
  #   build:
  #     context: ./files
  #     dockerfile: Dockerfile
  #   hostname: ${FILES_HOST}
  #   ports:
  #     - ${FILES_PORT}:${FILES_PORT}
  #   env_file:
  #     - ./files/.env
  #   networks:
  #     - backend
  #   volumes:
  #     - ./files:/var/www/files
  #     - /var/www/files/node_modules
  #   depends_on:
  #     - mongodb
  #     - rabbitmq
  #   command:
  #     [
  #       "wait-for-it",
  #       "mongodb:27017",
  #       "rabbitmq:5672",
  #       "--timeout=20",
  #       "--",
  #       "npm",
  #       "start"
  #     ]
  #   links:
  #     - mongodb
  #     - rabbitmq
  # mailer:
  #   build:
  #     context: ./mailer
  #     dockerfile: Dockerfile
  #   hostname: ${MAILER_HOST}
  #   env_file:
  #     - ./mailer/.env
  #   networks:
  #     - backend
  #   depends_on:
  #     - rabbitmq
  #   command:
  #     [
  #       "wait-for-it",
  #       "rabbitmq:5672",
  #       "--timeout=20",
  #       "--",
  #       "npm",
  #       "start"
  #     ]
  #   volumes:
  #     - ./mailer:/var/www/mailer
  #     - /var/www/mailer/node_modules
  #   links:
  #     - rabbitmq
  # logger:
  #   build:
  #     context: ./logger
  #     dockerfile: Dockerfile
  #   hostname: ${LOGGER_HOST}
  #   env_file:
  #     - ./logger/.env
  #   command:
  #     [
  #       "wait-for-it",
  #       "elasticsearch:9200",
  #       "rabbitmq:5672",
  #       "--timeout=20",
  #       "--",
  #       "npm",
  #       "start"
  #     ]
  #   depends_on:
  #     - rabbitmq
  #   networks:
  #     - backend
  #   volumes:
  #     - ./logger:/var/www/logger
  #     - /var/www/logger/node_modules
  #   links:
  #     - rabbitmq
  token:
    build:
      context: ./token
      dockerfile: Dockerfile
    hostname: ${TOKEN_HOST}
    env_file:
      - ./token/.env
    networks:
      - backend
    depends_on:
      - rabbitmq
    command:
      [
        "wait-for-it",
        "rabbitmq:5672",
        "--timeout=20",
        "--",
        "npm",
        "start"
      ]
    volumes:
      - ./token:/var/www/token
      - /var/www/token/node_modules
    links:
      - rabbitmq
  kong:
    hostname: kong
    build:
      context: ./kong
      dockerfile: Dockerfile
    restart: always
    networks:
      - backend
    command: "kong start"
    volumes:
      - ./kong/kong.yml:/usr/local/kong/declarative/kong.yml
    environment:
      KONG_DATABASE: "off"
      KONG_DECLARATIVE_CONFIG: /usr/local/kong/declarative/kong.yml
      KONG_PROXY_LISTEN: 0.0.0.0:8080
      KONG_PROXY_LISTEN_SSL: 0.0.0.0:8443
      KONG_ADMIN_LISTEN: 0.0.0.0:9000
    depends_on:
      - database
    ports:
      - "8080:8080"
      - "9000:9000"
  database:
    hostname: database
    image: postgres:latest
    ports:
      - 5431:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=master123
      - POSTGRES_DB=postgres
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - backend
  rabbitmq:
    hostname: rabbitmq
    image: "rabbitmq:3-management"
    volumes:
      - rabbit_data:/var/lib/rabbitmq
    ports:
      - "5671:5672"
      - "15671:15672"
    env_file:
      - .env
    networks:
      - backend
  # cache:
  #   hostname: redis
  #   image: redis:latest
  #   restart: always
  #   ports:
  #     - "6379:6379"
  #   networks:
  #     - backend
  # mongodb:
  #   hostname: mongodb
  #   image: mongo:latest
  #   environment:
  #     MONGO_INITDB_ROOT_USERNAME: admin
  #     MONGO_INITDB_ROOT_PASSWORD: master123
  #   ports:
  #     - 27018:27017
  #   volumes:
  #     - mongodb:/data/db
  #   networks:
  #     - backend
  elasticsearch:
    build:
      context: ./elasticsearch
      dockerfile: Dockerfile
    volumes:
      - type: volume
        source: es_data
        target: /usr/share/elasticsearch/data
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      ES_JAVA_OPTS: "-Xmx1g -Xms1g"
      ELASTIC_PASSWORD: changeme
      discovery.type: single-node
    networks:
      - elk
  logstash:
    build:
      context: ./logstash
      dockerfile: Dockerfile
    ports:
      - 5044:5044
    environment:
      LS_JAVA_OPTS: "-Xmx2g -Xms2g"
    networks:
      - elk
    depends_on:
      - elasticsearch

  kibana:
    build:
      context: ./kibana
      dockerfile: Dockerfile
    ports:
      - "5601:5601"
    networks:
      - elk
    depends_on:
      - elasticsearch
  filebeat:
    restart: on-failure
    build:
      context: ./filebeat
      dockerfile: Dockerfile
    volumes:
      - type: bind
        source: ./logger/logs
        target: /usr/share/filebeat/logs
      # - type: bind
      #   source: /var/run/docker.sock
      #   target: /var/run/docker.sock
      #   read_only: true
      # - type: bind
      #   source: /var/lib/docker/containers/
      #   target: /var/lib/docker/containers/
      #   read_only: true
    command: " ./filebeat -c filebeat.yml -e -strict.perms=false"
    depends_on:
      - elasticsearch
    networks:
      - elk

networks:
  backend:
    driver: bridge
  elk:
    driver: bridge
volumes:
  pg_data:
    driver: local
  mongodb:
    driver: local
  rabbit_data:
    driver: local
  es_data:
    driver: local
